<%-include('../admin/adminLayout/adminHeader') %>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/adminPanel" class="brand-wrap">
      <h3>.F-Wear</h3>
    </a>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item ">
        <a class="menu-link" href="/adminPanel"> <i class="icon material-icons md-home"></i>
          <span class="text">Adminpanel</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/productList"> <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        <div class="submenu">
        </div>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/users"> <i class="icon material-icons md-person"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/Categories"> <i class="icon material-icons md-store"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/couponList"> <i class="icon material-icons md-local_offer"></i>
          <span class="text">Coupon</span>
        </a>
      </li>
    </ul>
    <hr>
    <br>
    <br>
  </nav>
</aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
              <form class="searchform">
                <div class="input-group">
                  <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                  <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                  <option value="Products">
                  <option value="New orders">
                  <option value="Apple iphone">
                  <option value="Ahmed Hassan">
                </datalist>
              </form>
            </div>
            <div>
              <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
          </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
                <a href="/addCategories"><button class="btn btn-primary btn-sm rounded me-3 mt-3">Add
                        Categories</button></a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <% if(categories && categories.length> 0) { %>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% categories.forEach((row, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= row.category %>
                                                    </td>
                                                    <td>
                                                        <%= row.description %>
                                                    </td>
                                                    <% if (row.isList==true) { %>
                                                        <td class="text-success">List</td>
                                                        <% } else { %>
                                                            <td class="text-danger">Unlist</td>
                                                            <% } %>

                                                                <% if (row.isList==true) { %>
                                                                    <td><a class="badge badge-pill alert-danger"
                                                                            onclick="unListCategory('<%= row._id%>')">Unlist</a>
                                                                    </td>
                                                                    <% } else { %>
                                                                        <td><a
                                                                                class="badge badge-pill alert-success"
                                                                           onclick="listCategory('<%=row._id%>')">List</a>
                                                                        </td>
                                                                        <% } %>
                                                                            <td>
                                                                                <div class="btn-group" role="group">
                                                                                    <a class="badge rounded-pill alert-success"
                                                                                        href="/editCategory/<%=row._id%>">
                                                                                        <span
                                                                                            class="material-symbols-outlined">
                                                                                            edit
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <p>No categories available.</p>
                                        <% } %>
                            </div>
                        </div>

                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <script>
async function unListCategory(categoryId) {
    const result = await Swal.fire({
        title: "Are you sure?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
    });

    if (result.isConfirmed) {
        try {
            const response = await fetch(`/unlistCategory/${categoryId}`, {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' }
            });

            if (response.ok) {
                    Swal.fire({
                    title: "Unlisted!",
                    text: "the category has been unlisted.",
                    icon: "success",
                    showConfirmButton: false
                });
                setTimeout(() => {
                    location.reload();
                }, 2000);
            } else {
                throw new Error('Network response was not ok.');
            }
        } catch (error) {
            console.error('Error:', error);
            await Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                showConfirmButton: false
            });
            setTimeout(() => {
                location.reload();
            }, 2000);
        }
    }
}
async function listCategory(categoryId) {
    const result = await Swal.fire({
        title: "Are you sure?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
    });

    if (result.isConfirmed) {
        try {
            const response = await fetch(`/listCategory/${categoryId}`, {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' }
            });

            if (response.ok) {
                    Swal.fire({
                    title: "listed!",
                    text: "The category has been listed.",
                    icon: "success",
                    showConfirmButton: false
                });
                setTimeout(() => {
                    location.reload();
                }, 2000);
            } else {
                throw new Error('Network response was not ok.');
            }
        } catch (error) {
            console.error('Error:', error);
            await Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                showConfirmButton: false
            });
            setTimeout(() => {
                location.reload();
            }, 2000);
        }
    }
}


        </script>
        <%-include('../admin/adminLayout/adminFooter') %>