<%-include('../admin/adminLayout/adminHeader') %>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="/adminPanel" class="brand-wrap">
        <h3>.F-Wear</h3>
      </a>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/adminPanel"> <i class="icon material-icons md-home"></i>
            <span class="text">Adminpanel</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/productList"> <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
          <div class="submenu">
          </div>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/users"> <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/Categories"> <i class="icon material-icons md-store"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/couponList"> <i class="icon material-icons md-local_offer"></i>
            <span class="text">Coupon</span>
          </a>
        </li>
      </ul>
      <hr>
      <br>
      <br>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
            <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
          </div>
          <datalist id="search_terms">
            <option value="Products">
            <option value="New orders">
            <option value="Apple iphone">
            <option value="Ahmed Hassan">
          </datalist>
        </form>
      </div>
      <div>
        <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Edit Coupon</h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row" style="justify-content: center">
            <div class="col-md-4">
              <% if (locals.alert) { %>
                <div class="text-danger text-center m-3" id="error">
                  <%= locals.alert %>
                </div>
                <% } %>
              <form action="/editCoupon/<%= coupon._id %>" method="post">
                <div class="mb-4">
                  <label for="coupon_code" class="form-label">Coupon code</label>
                  <input type="text" placeholder="Type here" name="coupon_code" class="form-control" id="coupon_code"
                    onkeyup="validateCode()" value="<%= coupon.coupon_code %>"/>
                  <span id="code-error" style="font-size: 14px; margin-top: -20px; color: green;"></span>
                </div>

                <div class="mb-4">
                  <label class="form-label">Description</label>
                  <textarea placeholder="Type here" name="description" class="form-control" id="coupon_description"
                    rows="4" onkeyup="validateDescription()"><%= coupon.description %></textarea>
                  <span id="description-error" style="font-size: 14px; margin-top: -20px;color: green;"></span>
                </div>
                <div class="mb-4">
                  <label class="form-label">Percentage</label>
                  <input placeholder="0" name="percentage" class="form-control" id="percentage"
                    onkeyup="validatePrice()" value="<%= coupon.percentage %>">
                  <span id="price-error" style="font-size: 14px; margin-top: -20px;color: green;"></span>
                </div>
                <div class="mb-4">
                  <label for="min_amount" class="form-label">Minimum Amount</label>
                  <input type="text" placeholder="0" name="min_amount" class="form-control" id="min_amount" min="0"
                    onkeyup="validateMinAmount()" value="<%= coupon.minimumAmount %>"/>
                  <span id="min-amount-error" style="font-size: 14px; margin-top: -20px;color: green;"></span>
                </div>
                <div class="mb-4">
                  <label for="max_amount" class="form-label">Maximum Discount</label>
                  <input type="text" placeholder="0" name="max_amount" class="form-control" id="max_amount" min="0"
                    onkeyup="validateMaxAmount()" value="<%= coupon.maximumAmount %>"/>
                  <span id="max-amount-error" style="font-size: 14px; margin-top: -20px;color: green;"></span>
                </div>
                <div class="mb-4">
                    <label for="expiry_date" class="form-label">Expiry Date</label>
                    <input type="date" name="expiry_date" class="form-control" id="expiry_date" onchange="validateDate()" value="<%= formatDate(coupon.expiryDate) %>">
                    <% function formatDate(date) {
                        date = new Date(date);
                        var year = date.getFullYear();
                        var month = ('0' + (date.getMonth() + 1)).slice(-2);
                        var day = ('0' + date.getDate()).slice(-2);
                        
                    
                        return year + '-' + month + '-' + day;
                      } %>
                    <span id="date-error" style="font-size: 14px; margin-top: -20px; color: green;"></span>
                  </div>
                <div class="d-grid">
                  <button class="btn btn-primary" onclick="return validateForm()">
                    Edit Coupon
                  </button>
                  <span id="submit-error" style="font-size: 14px"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    var codeError = document.getElementById("code-error");
    var descriptionError = document.getElementById("description-error");
    var priceError = document.getElementById("price-error");
    var minAmountError = document.getElementById("min-amount-error");
    var maxAmountError = document.getElementById("max-amount-error");
    var submitError = document.getElementById("submit-error");

    function validateCode() {
      var uppercaseRegex = /^[A-Z0-9]+$/;
      var code = document.getElementById("coupon_code").value.trim();
      if (!uppercaseRegex.test(code)) {
        codeError.innerHTML = "Coupon code must contain only uppercase letters and numbers";
        codeError.style.color = "red";
        return false;
      }
      codeError.innerHTML = "Valid";
      codeError.style.color = "green";
      return true;
    }

    function validateDescription() {
      var desc = document.getElementById("coupon_description").value.trim();
      if (desc.length === 0) {
        descriptionError.innerHTML = "Description is required";
        descriptionError.style.color = "red";
        return false;
      }
      descriptionError.innerHTML = "Valid";
      descriptionError.style.color = "green";
      return true;
    }

    function validatePrice() {
      var price = document.getElementById("percentage").value.trim();
      if (price.length === 0 || isNaN(price) || parseFloat(price) <= 0 || parseFloat(price) > 100) {
        priceError.innerHTML = "Invalid entry";
        priceError.style.color = "red";
        return false;
      }
      priceError.innerHTML = "Valid";
      priceError.style.color = "green";
      return true;
    }

    function validateMinAmount() {
      var minAmount = document.getElementById("min_amount").value.trim();
      if (minAmount.length === 0 || isNaN(minAmount) || parseFloat(minAmount) < 0) {
        minAmountError.innerHTML = "Minimum amount is required and must be a non-negative number";
        minAmountError.style.color = "red";
        return false;
      }
      minAmountError.innerHTML = "Valid";
      minAmountError.style.color = "green";
      return true;
    }

    function validateMaxAmount() {
      var maxAmount = document.getElementById("max_amount").value.trim();
      if (maxAmount.length === 0 || isNaN(maxAmount) || parseFloat(maxAmount) < 0) {
        maxAmountError.innerHTML = "Maximum discount is required and must be a non-negative number";
        maxAmountError.style.color = "red";
        return false;
      }
      maxAmountError.innerHTML = "Valid";
      maxAmountError.style.color = "green";
      return true;
    }

    function validateDate() {
      var dateInput = document.getElementById("expiry_date").value;
      var currentDate = new Date();
      var selectedDate = new Date(dateInput);
      if (selectedDate <= currentDate) {
        document.getElementById("date-error").innerHTML = "Please select a future date";
        document.getElementById("date-error").style.color = "red";
        return false;
      } else {
        document.getElementById("date-error").innerHTML = "Valid";
        document.getElementById("date-error").style.color = "green";
        return true;
      }
    }

    function validateForm() {
      if (!validateCode() || !validateDescription() || !validatePrice() || !validateMinAmount() || !validateMaxAmount()) {
        submitError.innerHTML = "Please enter all the fields correctly to submit";
        submitError.style.color = "red";
        return false;
      }
      return true;
    }
  </script>
  <%-include('../admin/adminLayout/adminHeader') %>