<%-include('../admin/adminLayout/adminHeader') %>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/adminPanel" class="brand-wrap">
      <p style="font-size: 20px; font-weight: bold">.f-Wear Admin</p>
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/adminPanel">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/users">
          <i class="icon material-icons md-person"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/product">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/category">
          <i class="icon material-icons md-store"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/brand">
          <i class="icon material-icons md-verified"></i>
          <span class="text">Brands</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/orderlist">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/coupon">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text">Coupons</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link"> <i class="icon material-icons md-star"></i>
          <span class="text">Best Selling</span>
        </a>
        <div class="submenu">
          <a href="/bestproducts">Products</a>
          <a href="/bestcategories">Categories</a>
          <a href="/bestbrands">Brands</a>
        </div>
      </li>
    </ul>
  </nav>
</aside>
<main class="main-wrap">
  <header class="main-header navbar">
    <div class="col-search">
    </div>
    <div class="col-nav">
      <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
        <i class="material-icons md-apps"></i>
      </button>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link btn-icon" href="#">
            <i class="material-icons md-notifications animation-shake"></i>
            <span class="badge rounded-pill">3</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-icon darkmode" href="#">
            <i class="material-icons md-nights_stay"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
        </li>
        <li class="dropdown nav-item">
          <a data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
            aria-expanded="false"><i class="material-icons md-public"></i></a>
        </li>
        <li class="dropdown nav-item">
            <a class="dropdown-item text-danger" href="/adminlogout"><i
                class="material-icons md-exit_to_app"></i>Logout</a>
        </li>
      </ul>
    </div>
  </header>
<section class="printable-section">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5><strong>Delivery Address</strong></h5>
                        <div class="col-lg-6">
                            <div class="mb-3 mb-lg-0">
                                <div>
                                    <!-- Address details -->
                                    <address>
                                        <%= order.firstName %>
                                            <%= order.lastName %><br>
                                                <%= order.address %>,<br>
                                                    <%= order.pincode %>. <br>
                                                        <%= order.state %>, <%= order.country %>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <p class="fw-bold mb-0 mt-3">Order Details</p>
                        <hr>
                        <div class="card-body p-4">
                            <!-- Display order items -->
                            <% if (order.products && order.products.length> 0) { %>
                                <% order.products.forEach(item=> { %>
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col-md-2">
                                            <img src="/<%= item.productId.images[0] %>" class="img-fluid"
                                                alt="<%= item.productId.product_title %>">
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0">
                                                <%= item.productId.product_title %>
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small"><strong>Qnt:</strong>
                                                <%= item.quantity %>
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="mb-0 small">₹
                                                <%=item.total%>
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <% if (item.status=='pending' ) { %>
                                                <p class="text-warning mb-0 small">pending</p>
                                                <% } else if (item.status=='cancelled' ) { %>
                                                    <p class="text-danger mb-0 small">cancelled</p>
                                                    <% } else if (item.status == 'confirmed') { %>
                                                        <p class="text-secondary mb-0 small">confirmed</p>
                                                    <% } else if (item.status == 'shipped') { %>
                                                        <p class="text-success mb-0 small">shipped</p>
                                                    <% } else if (item.status == 'delivered') { %>
                                                        <p class="text-dark mb-0 small">delivered</p>
                                                    <% } else if (item.status == 'return') { %>
                                                        <p class="text-danger mb-0 small">returned</p>
                                                    <% } %>
                                        </div>
                                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <div class="text">
                                                <select class="form-control" id="status" name="status" onchange="handleSelection('<%=item._id%>','<%=order._id%>')">
                                                    <option value="pending">Pending</option>
                                                    <option value="confirmed">Confirmed</option>
                                                    <option value="shipped">Shipped</option>
                                                    <option value="delivered">Delivered</option>
                                                    <option value="cancelled">Cancelled</option>
                                                </select>
                                            </div> 
                                        </div>
                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    <% }) %>
                                        <% } %>
                                            <!-- Display order details -->
                                            <div class='text-end'>
                                                <p class="mb-0"><span class="fw-bold me-4">Total</span>₹
                                                    <%= order.totalPrice %>
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between pt-2">
                                                <p class="mb-0">Start Date: <%= order.date.toDateString()%>
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between mb-5">
                                                <p class="mb-0">Order Number: #<%= order._id %>
                                                </p>
                                                <p class="mb-0"><span class="fw-bold me-4">Delivery
                                                        Charges</span> 50</p>
                                            </div>
                        </div>
                        <div class="card-footer border-0 px-4 py-5"
                            style="background-color:rgb(136, 203, 192) ; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5
                                class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                Total Bill: <span class="h2 mb-0 ms-2"></span>₹ <%= order.totalPrice %>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</main>

</main>
<script>
    function handleSelection(productId,orderId) {
    var selectedValue =  document.getElementById('status').value
    if (selectedValue === "confirmed") {
        confirmOrder(productId,orderId);
    }else if(selectedValue === "shipped"){
        shippedOrder(productId,orderId);
    }else if(selectedValue === "delivered"){
        deliveredOrder(productId,orderId);
    }else if(selectedValue === "cancelled"){
        cancelOrder(productId,orderId);
    }else if(selectedValue === "pending"){
        pendingOrder(productId,orderId);
    }
}
    function cancelOrder(productId,orderId) {
        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#14A44D",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/cancelOrderAdmin', {
                    method: "PATCH",
                    headers: { 'Content-Type': 'application/json' },
                    body:JSON.stringify({productId,orderId})
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Something went wrong!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        Swal.fire({
                            title: "Cancelled!",
                            text: "Your order has been cancelled.",
                            icon: "success",
                            showConfirmButton:false
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 2000);
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message || "Something went wrong!",
                        });
                    });
            }
        });
    }

    //confirm order
    function confirmOrder(productId,orderId) {
        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#14A44D",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/confirmOrder', {
                    method: "PATCH",
                    headers: { 'Content-Type': 'application/json' },
                    body:JSON.stringify({productId,orderId})
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Something went wrong!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        Swal.fire({
                            title: "confirmed!",
                            text: "Your order has been confirmed.",
                            icon: "success",
                            showConfirmButton:false
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 2000);
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message || "Something went wrong!",
                        });
                    });
            }
        });
    }
    //confirm order
    function shippedOrder(productId,orderId) {
        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#14A44D",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/shippedOrder', {
                    method: "PATCH",
                    headers: { 'Content-Type': 'application/json' },
                    body:JSON.stringify({productId,orderId})
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Something went wrong!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        Swal.fire({
                            title: "Shipped!",
                            text: "Your order has been Shipped.",
                            icon: "success",
                            showConfirmButton:false
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 2000);
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message || "Something went wrong!",
                        });
                    });
            }
        });
    }
    //confirm order
    function deliveredOrder(productId,orderId) {
        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#14A44D",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/deliveredOrder', {
                    method: "PATCH",
                    headers: { 'Content-Type': 'application/json' },
                    body:JSON.stringify({productId,orderId})
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Something went wrong!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        Swal.fire({
                            title: "delivered!",
                            text: "Your order has been delivered.",
                            icon: "success",
                            showConfirmButton:false
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 2000);
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message || "Something went wrong!",
                        });
                    });
            }
        });
    }
    //pending order
    function pendingOrder(productId,orderId) {
        Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#14A44D",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/pendingOrder', {
                    method: "PATCH",
                    headers: { 'Content-Type': 'application/json' },
                    body:JSON.stringify({productId,orderId})
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Something went wrong!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        Swal.fire({
                            title: "changed!",
                            text: "Your order status changed pending.",
                            icon: "success",
                            showConfirmButton:false
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 2000);
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: error.message || "Something went wrong!",
                        });
                    });
            }
        });
    }
</script>
<%-include('../admin/adminLayout/adminFooter') %>