<%-include('../user/userLayout/userHeader.ejs') %>
  <!-- Start Header/Navigation -->
  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
      <a class="navbar-brand" href="/">.<span class="text-warning">f</span>-Wear</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
        aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li><a class="nav-link" href="about.html">About us</a></li>
          <li><a class="nav-link" href="services.html">Services</a></li>
        </ul>

        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <!-- <li><a class="nav-link" href="userLogin"><img src="/assets/images/user.svg"></a></li> -->
          <li><a class="nav-link" href="/cartPage"><img src="/assets/images/cart.svg"></a></li>
          <li><a class="nav-link" href="/userAccount"> <img src="/assets/images/user.svg"></a></li>
          <li>
						<a class="nav-link" href="/wishList" style="position: relative;">
							<span class="material-symbols-outlined me-2" style="color: white;">
								favorite
							</span>
						</a>
					</li>
        </ul>
      </div>
    </div>

  </nav>
  <!-- End Header/Navigation -->

  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
          </div>
          <!-- <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Order</h2>
              <div class="p-3 p-lg-5 border bg-white">
                <div>
                    <p id="totalAmount">Amount:<%= userOrder.totalPrice %></p>
                </div>
                <div class="radio-container mb-5">
                  <div class="custom-radio">
                    <input type="radio" id="razorPay" name="paymentMethod" value="razorPay"
                      data-payment-method="razorPay">
                    <label for="razorPay">Razor pay</label>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-dark btn-lg py-3 btn-dark" id="PlaceOrderBtn" onclick="orderPlace()">Place
                    Order</button>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border bg-white">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>total</th>
                  </thead>
                  <tbody>
                    <% userOrder.products.forEach(items=> { %>
                      <tr>
                        <td>
                          <%= items.productId.product_title %>
                        </td>
                        <td><%= items.salesPrice %> &#8377;
                        </td>                       
                         <td>
                          <%= items.quantity %>
                        </td>
                        <td><%= items.salesPrice * items.quantity %> &#8377;
                        </td>
                      </tr>
                      <% }) %>
                        <tr class="text-end d-flex justify-content-between" id="couponDetails">
                        </tr>
                        <tr class="text-end">
                          <td class="text-black font-weight-bold text-en"><strong>Grand Total:</strong></td>
                          <td class="font-weight-bold" id="grandTotal"><strong>
                              <%= userOrder.totalPrice %> <b>&#8377;</b>
                            </strong></td>
                        </tr>
                  </tbody>
                </table>
                <div class="mb-5 text-center">
                  <div class="border p-3 mb-5 payment-method" style="background-color:rgb(38, 44, 45);">
                    <h3 class="h6 mb-0"><a class="d-block text-decoration-none text-light" data-bs-toggle="collapse"
                        role="button" aria-expanded="false" aria-controls="collapsepaypal" onclick="orderPlace()">Pay</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
  <!-- Modal -->
<script>
  async function orderPlace(params) {
    const totalAmountInput = document.getElementById('totalAmount');
    const totalAmount = parseInt('<%= userOrder.totalPrice %>');
          initiateRazorpayPayment();
    function initiateRazorpayPayment() {
      const user = {
        name: "<%= user.username %>",
        email: "<%= user.email %>",
        phone: "<%= user.phone %>"
      };
      var options = {
        key: "rzp_test_ihsNz6lracNIu3",
        amount: totalAmount * 100,
        currency: 'INR',
        name: 'f-wear',
        description: 'Purchase Description',
        image: 'https://example.com/logo.png',
        handler: function (response) {
          if (response.razorpay_payment_id){
            // Payment successful
            fetch(`/orderPlacingFailed/${'<%= orderId%>'}`, {
              method: "POST",
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ paymentMethod:'razorPay', totalAmount }),
            });
            Swal.fire({
              title: "Paid succesfully!",
              icon: "success",
              showConfirmButton: false
            });
            setTimeout(() => {
              window.location.href = '/orders';
            }, 2000);
          }else{
            fetch('/failedOrder', {
              method: "POST",
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ paymentMethod, totalAmount }),
            });
              window.location.href = '/orders';
          }
        },
        prefill: {
          name: user.name,
          email: user.email,
          contact: user.phone
        },
        theme: {
          color: '#3399cc'
        }
      };
      var rzp = new Razorpay(options);
      rzp.on('payment.failed',function (response) {
        fetch('/failedOrder', {
              method: "POST",
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ paymentMethod, totalAmount }),
            })
              window.location.href = '/orders';
      })
      rzp.open();
    }
  }
</script>
  <%-include('../user/userLayout/userFooter') %>