<%-include('../user/userLayout/userHeader.ejs') %>
<style>
	.badge {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
</style>
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
			<div class="container">
				<a class="navbar-brand" href="/">.<span class="text-warning">f</span>-Wear</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link " href="/shop">Shop</a>
						</li>
						<li><a class="nav-link" href="/about">About us</a></li>
						<li><a class="nav-link" href="/services.html">Services</a></li>
					</ul>
					

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li>
							<a class="nav-link" href="/cartPage" style="position: relative;">
								<img src="/assets/images/cart.svg">
								<% if (cartLength !== null || undefined && userData !== null || undefined) { %>
									<span class="badge"><%= cartLength %></span>
								 <% } else { %>
									<span class="badge">0</span>
								<% } %>
								
							</a>
						</li>
                        <li>
                            <a class="nav-link" href="/wishList" style="position: relative;">
                                <span class="material-symbols-outlined me-3" style="color: white;">
                                    favorite
                                </span>
                            </a>
                        </li>
						<% if(userData) { %>
							<a class="nav-link" href="/userAccount">
								<img src="/assets/images/user.svg">
							  </a>
						  <% } else { %>
							<li>
							  <a class="nav-link d-flex" href="/userLogin">
								<span class="material-symbols-outlined">
									login
							    </span>
								 Login
							</a>
							</li>
						  <% } %>
					</ul>
				</div>
			</div>
		</nav>
	<!-- End Header/Navigation -->
    
<!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Shop</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    
                </div>
            </div>
        </div>
    </div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
    <div class="container">
          <div class="row">

              <!-- Start Column 1 -->
              <% if (ProductData) { %>
                <%ProductData.forEach(element => { %>
                    <div class="col-12 col-md-4 col-lg-3 mb-5"> 
                        <a class="product-item" href="/productDetails/<%=element._id%>">
                            <img src="/<%= element.images[0] %>" width="200px" class="img-fluid product-thumbnail">
                            <h3 class="product-title"><%= element.product_title %></h3>
                            <strong class="product-price"><b> &#8377; </b> <%= element.price %></strong>
        
                            <span class="icon-cross">
                                <img src="/<%= element.images[0] %>" class="img-fluid">
                            </span>
                        </a> 
                    </div> 
                  <% }) %>
                  <% } else { %>
                    <h3 class="text-secondery text-center">No Products available</h3>
              <% } %>
          </div>
    </div>
</div>
<%-include('../user/userLayout/userFooter')  %>